.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.iconContainer {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1rem;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 3;
  }
  
  .frameepefilwarp:hover .iconContainer .iconContainer2 {
    opacity: 1;
  }
  .frameepefilwarp:hover .dashboardImagePerfil {
    filter: brightness(70%);
  }

.editIcon,
.deleteIcon {
  color: rgb(129, 129, 129);
  font-size: 20px;
  cursor: pointer;
  z-index: 3;
}

.editIcon:hover,
.deleteIcon:hover {
  color: white;
}