.menu{
    font-family: "Fibra",sans-serif;
    border-radius: 2em;
    width: 95%;
    margin: auto;
    background-color: #000000;
    /* position: absolute;
            left: 50%;
            transform: translate(-50%); */
}

.fundo {
    /* width: 100vw;
            height: 100vw; */
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
}

.logoimgtopbar {
    width: 20%;
}