.previewFundo {
    width: calc(100vw - 60%) !important;
  }
  
  .smartPhone {
    width: 20%;
  }

  .previewMolduraPerfil {
    position: absolute;
    width: 75px; /* Ajuste conforme necessário */
    height: 75px; /* Ajuste conforme necessário */
    z-index: 2;
  }
  
  .previewframeepefilwarp{
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .previewImagePerfil {
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
  }
  