.HomeTopbar {
    background-color: #f8f9fac4;
    backdrop-filter: blur(0.5rem);
}


.HomePrimeiraDivWarp{
    width: 90%;
    margin: auto;
}

.HomePrimeiraDiv{
    background-color: #bbbbbb;
}

@media only screen and (max-width: 768px) {
    /* Estilos específicos para dispositivos móveis */
    .offcanvasbg {
        background-color: #f8f9fac4;
        backdrop-filter: blur(0.1rem) !important;
        max-width: 80dvw;
    }
  }