.HomeTopbar {
    background-color: #f8f9fac4;
    backdrop-filter: blur(0.5rem);
}

.offcanvasbg {
    backdrop-filter: blur(0.1rem) !important;
    max-width: 80dvw;
}
.HomePrimeiraDivWarp{
    width: 90%;
    margin: auto;
}

.HomePrimeiraDiv{
    background-color: #bbbbbb;
}