
@font-face{
  font-family:'Fibra';
  src: local('Fibra'), url(./Font/fibra/Fibra-Light.otf) format(OpenType);
}
.backG {
  width: 100vw;
  height: 100vh;
  background-color: #0c0c0c;
}
.backFormupin {
  width: calc(100vw - 40%);
  height: 100vh;
}

.logologinup {
  position: absolute;
  filter: invert();
  width: 12%;
}

.botaoCriar {
  background-color: purple !important;
  border-color: purple !important;
}

.botaoCriar:disabled {
  pointer-events: all !important;
  cursor: not-allowed;
  background-color: grey !important;
  border-color: grey !important;
}

.fundoImgSingUp {
  background-image: url(https://static1.minhavida.com.br/diseases/12/8a/ab/d2/mulher-mexendo-no-celular-orig-1.jpg);
  overflow: hidden;
  height: 100vh;
  width: calc(100vw - 60%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-color: lavender;

}

.dashboardFundo {
  width: 100vw;
  height: 100vh;
}

.fundoSinup {
  width: 100vw;
  height: 100vh;
}
.contlogin {
  width: fit-content !important;
  background-color: #0c0c0c;
  background-size: cover;
  background-blend-mode: overlay;
  color: white;
    /* border: #4666ff solid;
          border-radius: 2em;
          font-size: 6.2rem; */
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #bc13fe,
      0 0 0.8rem #bc13fe,
      0 0 2.8rem #bc13fe,
      inset 0 0 1.3rem #bc13fe;
  }
  
  
  .logoimg {
    width: 100%;
  }
  
  .rowint {
    /* background-color: aqua; */
    width: 30vw;
}

.viewpass {
  float: right;
  margin-left: -25px;
  margin-top: -26px;
  position: relative;
  font-size: large;
  z-index: 2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.neonborder {
  font-size: 6.2rem;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}

@keyframes pulsate {

  100% {

    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #bc13fe,
      0 0 80px #bc13fe,
      0 0 90px #bc13fe,
      0 0 100px #bc13fe,
      0 0 150px #bc13fe;

  }

  0% {

    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #bc13fe,
      0 0 45px #bc13fe,
      0 0 55px #bc13fe,
      0 0 70px #bc13fe,
      0 0 80px #bc13fe;

  }
}